.sidebar {
  background-color: #343a40;
  color: #ffffff;
  padding-top: 45px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Hide sidebar on screens smaller than 768px */
  @media (max-width: 767.98px) {
    display: none;
  }
}

.welcome-section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.github-logo {
  width: 100%;
  max-width: 170px;
  height: auto;
  margin-bottom: 20px;
}

.sidebar-btn {
  background-color: #007bff;
  margin-bottom: 10px;
}
