.common-info {
  box-sizing: border-box;
  width: 80%;
  max-width: 400px;
  padding: 2em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.common-info-header {
  display: flex;
  align-items: center;
}

.custom-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.header-desc {
  font-size: 18px;
  font-weight: bold;
}

.common-info-body {
  margin-top: 15px;
}

.btn {
  margin-right: 8px;
}

.common-info-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
}

.btn-outline-primary {
  border: 1px solid #3498db;
  color: #3498db;
  background-color: #fff;
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
}
